<launch>
  <arg name="drone_name" default="intelaero_bugwright"/>
  <arg name="pointcloud_topic" default="velodyn/laser_scan"/>
  <arg name="frame_id" value="world" />
  <arg name="robot_radius" default="0.25" />
  <arg name="voxel_size" default="0.25" />
  <arg name="voxels_per_side" default="8" />
  <arg name="avoid_collisions" default="false" />
  <arg name="command_publishing_dt" default="40.0" />
  <arg name="v_max" default="6.0" />
  <arg name="a_max" default="0.8" />
  <arg name="yaw_rate_max" default="0.2" />
  <arg name="sampling_dt" default="0.3" />

  <group ns="$(arg drone_name)_0">
    <node name="mav_local_planner" pkg="mav_local_planner" type="mav_local_planner_node" args="-alsologtostderr" output="screen" clear_params="true">
      <remap from="odometry" to="groundtruth/odom" />
      <remap from="waypoint" to="next_best_viewpoint" />
      <remap from="waypoint_list" to="next_best_viewpoint_list" />
      <remap from="mav_local_planner/esdf_map_in" to="/voxblox_node/esdf_map_out" />
      <remap from="mav_local_planner/tsdf_map_in" to="/voxblox_node/tsdf_map_out" />

      <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
      <param name="tsdf_voxels_per_side" value="$(arg voxels_per_side)" />
      <param name="esdf_max_distance_m" value="2.0" />
      <param name="update_mesh_every_n_sec" value="0.0" />
      <param name="traversability_radius" value="$(arg robot_radius)" />
      <param name="publish_traversable" value="true" />
      <param name="slice_level" value="1.0" />
      <param name="publish_slices" value="true" />

      <param name="local_frame_id" value="$(arg frame_id)" />
      <param name="world_frame" value="$(arg frame_id)" />
      <!-- HACK: "disabling" command publishing -->
      <param name="command_publishing_dt" value="$(arg command_publishing_dt)" />
      <!-- No need to replan if no command is republished -->
      <param name="replan_dt" value="$(arg command_publishing_dt)" />
      <!-- Important parameter to control how the drone will follow the trajectory -->
      <param name="sampling_dt" value="$(arg sampling_dt)" />
      <param name="plan_to_start" value="true" />
      <param name="replan_lookahead_sec" value="1.0" />
      <param name="mpc_prediction_horizon" value="300" />

      <param name="robot_radius" value="$(arg robot_radius)" />
      <param name="planning_horizon_m" value="20.0" />
      <param name="autostart" value="true" />
      <param name="verbose" value="true" />
      <!-- Parameters in charge of the curvature of trajectory -->
      <param name="v_max" value="$(arg v_max)" />
      <param name="a_max" value="$(arg a_max)" />
      <param name="yaw_rate_max" value="$(arg yaw_rate_max)" />
      <!-- TODO: currently avoid collision do not work but should look into it -->
      <param name="avoid_collisions" value="$(arg avoid_collisions)" />

      <!-- What to do in case of failure. -->
      <param name="goal_selector_strategy" value="none" />
      <param name="smoother_name" value="loco" />
      <param name="use_shotgun" value="true" />
      <param name="use_shotgun_path" value="true" />
    </node>
  </group>

  <group ns="$(arg drone_name)_1">
    <node name="mav_local_planner" pkg="mav_local_planner" type="mav_local_planner_node" args="-alsologtostderr" output="screen" clear_params="true">
      <remap from="odometry" to="groundtruth/odom" />
      <remap from="waypoint" to="next_best_viewpoint" />
      <remap from="waypoint_list" to="next_best_viewpoint_list" />
      <remap from="mav_local_planner/esdf_map_in" to="/voxblox_node/esdf_map_out" />
      <remap from="mav_local_planner/tsdf_map_in" to="/voxblox_node/tsdf_map_out" />

      <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
      <param name="tsdf_voxels_per_side" value="$(arg voxels_per_side)" />
      <param name="esdf_max_distance_m" value="2.0" />
      <param name="update_mesh_every_n_sec" value="0.0" />
      <param name="traversability_radius" value="$(arg robot_radius)" />
      <param name="publish_traversable" value="true" />
      <param name="slice_level" value="1.0" />
      <param name="publish_slices" value="true" />

      <param name="local_frame_id" value="$(arg frame_id)" />
      <param name="world_frame" value="$(arg frame_id)" />
      <!-- HACK: "disabling" command publishing -->
      <param name="command_publishing_dt" value="$(arg command_publishing_dt)" />
      <!-- No need to replan if no command is republished -->
      <param name="replan_dt" value="$(arg command_publishing_dt)" />
      <!-- Important parameter to control how the drone will follow the trajectory -->
      <param name="sampling_dt" value="$(arg sampling_dt)" />
      <param name="plan_to_start" value="true" />
      <param name="replan_lookahead_sec" value="1.0" />
      <param name="mpc_prediction_horizon" value="300" />

      <param name="robot_radius" value="$(arg robot_radius)" />
      <param name="planning_horizon_m" value="20.0" />
      <param name="autostart" value="true" />
      <param name="verbose" value="true" />
      <!-- Parameters in charge of the curvature of trajectory -->
      <param name="v_max" value="$(arg v_max)" />
      <param name="a_max" value="$(arg a_max)" />
      <param name="yaw_rate_max" value="$(arg yaw_rate_max)" />
      <!-- TODO: currently avoid collision do not work but should look into it -->
      <param name="avoid_collisions" value="$(arg avoid_collisions)" />

      <!-- What to do in case of failure. -->
      <param name="goal_selector_strategy" value="none" />
      <param name="smoother_name" value="loco" />
      <param name="use_shotgun" value="true" />
      <param name="use_shotgun_path" value="true" />
    </node>
  </group>
</launch>
