<launch>
  <arg name="drone_name" default="intelaero_bugwright"/>
  <arg name="pointcloud_topic" default="velodyn/laser_scan"/>
  <arg name="frame_id" value="world" />
  <arg name="voxel_size" default="0.25" />
  <arg name="do_smoothing" default="false" />

  <group ns="$(arg drone_name)_0">
    <node name="voxblox_rrt_planner" pkg="voxblox_rrt_planner" type="voxblox_rrt_planner_node" output="screen" clear_params="true">
      <remap from="voxblox_rrt_planner/esdf_map_in" to="/voxblox_node/esdf_map_out" />
      <remap from="voxblox_rrt_planner/tsdf_map_in" to="/voxblox_node/tsdf_map_out" />
      <remap from="pointcloud" to="$(arg pointcloud_topic)" />

      <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
      <param name="tsdf_voxels_per_side" value="8" />

      <param name="visualize" value="true" />
      <param name="robot_radius" value="0.2" />

      <param name="update_mesh_every_n_sec" value="0.0" />
      <param name="num_seconds_to_plan" value="2.0" />
       <param name="do_smoothing" value="$(arg do_smoothing)" />
      <!-- Frame in which the waypoints will be published -->
      <param name="frame_id" value="$(arg frame_id)" />
      <param name="trust_approx_solution" value="true" />
      <param name="publish_traversable" value="true" />
      <param name="split_at_collisions" value="true" />
      <param name="optimize_time" value="true" />
      <param name="verbose" value="true" />
    </node>
    <node name="goal_pose_handler" pkg="mav_local_planner" type="goal_pose_handler.py" output="screen" clear_params="true">
      <remap from="next_waypoint" to="new_target" />
    </node>
  </group>

  <group ns="$(arg drone_name)_1">
    <node name="voxblox_rrt_planner" pkg="voxblox_rrt_planner" type="voxblox_rrt_planner_node" output="screen" clear_params="true">
      <remap from="voxblox_rrt_planner/esdf_map_in" to="/voxblox_node/esdf_map_out" />
      <remap from="voxblox_rrt_planner/tsdf_map_in" to="/voxblox_node/tsdf_map_out" />
      <remap from="pointcloud" to="$(arg pointcloud_topic)" />
      <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
      <param name="tsdf_voxels_per_side" value="8" />

      <param name="visualize" value="true" />
      <param name="robot_radius" value="0.2" />

      <param name="update_mesh_every_n_sec" value="0.0" />
      <param name="num_seconds_to_plan" value="2.0" />
      <param name="do_smoothing" value="$(arg do_smoothing)" />
      <!-- Frame in which the waypoints will be published -->
      <param name="frame_id" value="$(arg frame_id)" />
      <param name="trust_approx_solution" value="true" />
      <param name="publish_traversable" value="true" />
      <param name="split_at_collisions" value="true" />
      <param name="optimize_time" value="true" />
      <param name="verbose" value="true" />
    </node>
    <node name="goal_pose_handler" pkg="mav_local_planner" type="goal_pose_handler.py" output="screen" clear_params="true">
      <remap from="next_waypoint" to="new_target" />
    </node>
  </group>
</launch>
